body {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  border: 2px solid purple;
}

.about-title {
  font-weight: bold;
  color: darkgray;
}

.about-description {
  color: white;
}
