:root {
  --background: #343536;
  --color: white;
}

body {
  background-color: var(--background);
  color: white;
  border: 1px solid white;
  text-align: center;
}

.card-example {
  border: 1px solid hsl(0, 0%, 0.1%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
}

.card-image-example {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-title-example {
  font-family: Arial, sans-serif;
  margin: 0;
  color: black;
}

.card-description-example {
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}
